<h2>Hunterborn Fat Patcher</h2>

<section>
    <ignore-plugins patcher-id="hunterbornFatPatcher"></ignore-plugins>
</section>

<section>
    <div>
        <span class="input-label" title="The value specified here will be displayed &#13;in an alert when the patcher initialized.">Troll Fat to Animal Fat Multiplier Setting</span>
        <input type="text" ng-model="settings.hunterbornFatPatcher.fatMultiplierSetting"/>
    </div>

    <button class="action-btn" ng-click="showMessage()">Show message</button>
</section>
